body {
    margin: 0;
    height: 100vh;
    background-color: beige;
}
.bigContainer    {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.container  {
    border: 1px black solid;
    height: 532px;
    width: 532px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    /*Divides the divs inside the container in same size*/
    height: calc(100% / var(--size));
    width: calc(100% / var(--size));
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 534px;
}

button  {
    margin-right: 20px;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    background-color: aquamarine;
}

.icon   {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50% ;
    margin-right: 10px;
    object-fit: cover;
}
h6  {
    height: 40px;
    margin-top: 0;
    padding-left: 10px;
}
header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: end;
    margin: 0;
}
