.bigContainer    {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container  {
    border: 1px black solid;
    height: 532px;
    width: 532px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    /*Divides the divs inside the container in same size*/
    height: calc(100% / var(--size));
    width: calc(100% / var(--size));
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 534px;
}

button  {
    margin-right: 20px;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    background-color: aquamarine;
}